<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            Menu <i class="fa fa-bars"></i>
        </button>
        <a href="<%- url_for() %>" class="navbar-brand"><%= config.title %></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <% for (var i in theme.menu){ %>
              <li>
              <a href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
              </li>
            <% } %>
        </ul>
    </div>
  </div>
</nav>

<header class="intro-header" style="background-image: url('img/vintage.jpg')">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="site-heading">
                  <h1>Ripo Blog</h1>
                  <hr class="small">
                  <span class="subheading">Personal Blog</span>
              </div>
          </div>
      </div>
  </div>
</header> 